@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.circleRating {
    width: 65px;
    height: 65px;
    position: relative;
    top: 15px;
    background-color: white;
    flex-shrink: 0; 
    border-radius: 50%;
    padding: 2px; 
}

@media only screen and (min-width: 768px) {
    .circleRating {
        width: 70px;
        height: 70px;
    }
}

.circleRating .CircularProgressbar-text {
    font-size: 10px;
    font-weight: 700;
    fill: black;
}
.container {
  display: grid;
  place-items: center;
}

.range {
  height: 4px;
  width: 100%;
  border-radius: 4rem;
  display: grid;
}

.range__content {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}

.range__slider {
  width: 100%;
  height: 3px;
  background-color: rgb(223, 220, 220);
  border-radius: 4rem;
  overflow: hidden;
}

.range__slider-line {
  width: 100%;
  height: 100%;
  background: rgb(30, 104, 230);
  width: 0;
}

.range__thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 12px hsla(256, 72%, 24%, .2);
  position: absolute;
}

.range__input {
  appearance: none;
  width: 100%;
  height: 16px;
  position: absolute;
  opacity: 0;
}

.range__input::-webkit-slider-thumb {
  appearance: none;
  width: 32px;
  height: 32px;
}

.range__input::-webkit-slider-thumb:hover {
  cursor: pointer;
}